<section class="{{background_color}}">
  <h1 class="text-center font-poppins-bold text-24px pt-48 {% if background_color == 'bg-deep-grey' %} text-white {% endif %}">{{ heading }}</h1> 
  <!-- ACCORDIONS CONTAINER -->
  <div class="px-32 py-48 flex flex-col mx-auto max-w-lg space-y-16">
  <!-- ACCORDION WRAPPER -->
    {% for item in items %}
    <div class="accordion {% if background_color == 'bg-white' %} border {% endif %}" >
  <!-- ACCORDION HEADER -->
      <div class="accordion-header bg-white p-16 flex justify-between items-center cursor-pointer">
        <h2 class="font-poppins-bold text-12px">{{ item.heading }}</h2>
        <span class="border h-16 w-16 rounded-full flex justify-center items-center text-center ml-16 p-8 ">
          <span class="font-poppins-regular text-12px toggle">+</span>
        </span>
      </div>
  <!-- ACCORDION PANEL -->
      <article class="panel bg-white p-16 space-y-16 hidden {% if background_color == 'bg-white' %} border-t {% endif %}"> 
        {% for key, value in item.content %}
          <p class="font-poppins-regular text-12px">{{ value }}</p>
        {% endfor %}
      </article>
    </div>
    {% endfor %}
  </div>
</section>
